{% extends "articles/base.html" %}
{% block content %}

<div class="container">
<h1>
    {{article.title}}
</h1>

<p>
     {{article.pub_date}}
</p>

<p>
    {{article.content}}
</p>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'articles:edit' article.id%}" class="btn btn-primary" role="button">
        Edit  </a>
        </div>

        <div class="col-sm-4">
            <a href="{% url 'articles:delete' article.id%}" class="btn btn-danger" role="button">
        Delete</a>
        </div>

        <div class="col-sm-4">
            <a href="{% url 'articles:index'%}" class="btn btn-success" role="button">
        Return</a>
        </div>

    </div>
</div>

{% endblock content %}

