{% extends "articles/base.html" %}
{% block content %}

<div class="container">

    <div class="text-center">
        <h1>
        {{article.title}}
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            <h4>
                by {{article.author}}
            </h4>
        </div>
        <div class="col-sm-4">
            <h4>
                {{article.pub_date}}
            </h4>
        </div>
    </div>
    <p>
        {{article.content}}
    </p>
</div>

<div class="container">
    <div class="row">
        {% if user.username == article.author %}
            <div class="col-sm-4">
                <a href="{% url 'articles:edit' article.id%}" class="btn btn-primary" role="button">
                Edit  </a>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'articles:delete' article.id%}" class="btn btn-danger" role="button">
                Delete</a>
            </div>
        {% else %}
            <div class="col-sm-8"></div>
        {% endif %}
        <div class="col-sm-4">
            <a href="{% url 'articles:index'%}" class="btn btn-success" role="button">
        Return</a>
        </div>

    </div>
</div>

{% endblock content %}

