{% extends "articles/base.html" %}
{% block content %}
{% load static %}
<br>
<br>
<div class="container p-3 my-3">
    <div class="text-center">
        <h1>
        {{article.title}}
        </h1>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-7" ></div>
        <div class="col-sm-1" >
            <img src= "{{article.author.profile.image.url}}" alt="Logo" class="rounded" style="width:50px;">
        </div>
        <div class="col-sm-2">
            <p>
                {{article.author}}<br>
                {{article.pub_date.date}}
            </p>
        </div>
    </div>
</div>
    <div class="container" >
        {{article.content | linebreaks}}
    </div>

<div class="container">
    <div class="row">
        {% if user == article.author %}

            <div class="col-sm-10"></div>
            <div class="col-sm-2">
                <a href="{% url 'articles:edit' article.id%}" class="btn btn-light" role="button">
                Edit  </a>
                <a href="{% url 'articles:delete' article.id%}" class="btn btn-light" role="button">
                Delete</a>
            </div>
        {% else %}
            <div class="col-sm-8"></div>
        {% endif %}
    </div>
</div>

{% if comments_list %}
    <div class="container p-3 my-3">
        {% for comment in comments_list %}
          <div class="media border p-3">
            <img src="{{comment.author.profile.image.url}}" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">
              <h4>{{ comment.author.username}} <small> &nbsp; &nbsp; &nbsp; <i>{{comment.pub_date}}</i></small></h4>
              <p>{{comment.content | linebreaks}}</p>
            </div>
          </div><br>
        {% endfor %}
    </div>
{% else %}
{% endif %}

<div class="container text-center">
{% if user.is_authenticated %}
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field }}
      </p>
    {% endfor %}
    <input type = 'submit' class="btn btn-success" role="button" value='Comment' />
    </form>
{% else %}
    <p> Want comment?</p>
    <a href="{% url 'users:login' %}" class="btn btn-success" role="button">
        Login  </a>
{% endif %}
</div>
<br>
<br>





{% endblock content %}

