{% extends "articles/base.html" %}
{% block content %}

<form action="{% url 'articles:update' article.id %}" method="post">

    {% csrf_token %}

    <label for="title">Your name: </label><br>
    <input id="title" type="text" name="title" value= "{{article.title}}"><br>

    <label for="content">Write your blog here: </label><br>
<!--    <input  type="text" name="content" placeholder="Your content"><br>-->
    <textarea id="content" name="content" rows="20" cols="50">
        {{article.content}}
    </textarea><br>
    <input type = 'submit' value='save' />

</form>

{% endblock content %}

