{% extends "articles/base.html" %}
{% block content %}
{% load static %}
<!-- Search Form -->

{% if user.is_authenticated %}
<div class="container p-3 my-3">
    <div class="row">
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
            <a href="{% url 'articles:create' %}" class="btn btn-primary" role="button">
            Post a new article </a>
        </div>
</div>
{% else %}
{% endif %}

<div class="container p-3 my-3">
{% if articles_list %}
      <div class="row">
        {% for article in articles_list %}
          <div class="col-sm-12">
          <div class="media border p-2">
            <img src="{{article.author.profile.image.url}}" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">
              <h4>
                  <a href="{% url 'articles:detail' article.id %}"> {{ article.title }} </a>
                  <br>
                  <small><p>{{article.pub_date.date}}</p></small>
              </h4>
              <p>{{article.content | safe | truncatewords:40 }}</p>
            </div>
          </div><br>
          </div>
        {% endfor %}
      </div>
{% else %}
    <p>No Articles are available.</p>
{% endif %}
</div>

{% endblock content %}