{% extends "articles/base.html" %}
{% block content %}

<!-- Search Form -->
<div class="text-center">
<form action="{% url 'articles:search' %}" method="post">
    {% csrf_token %}
    <input id="search" type="text" name="condition">
    <input type = 'submit' value='search' />
</form>
</div>

{% if articles_list %}
    <div class="container p-3 my-3">
      <div class="row">
        {% for article in articles_list %}
        <div class="col-sm-4">
        <h3><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a></h3>
        <p>{{article.content}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<div class="container">
    <a href="{% url 'articles:create' %}">Create a new article</a><br>
    <a href="{% url 'users:register' %}">Register an account</a>
</div>


{% endblock content %}