{% extends "articles/base.html" %}
{% block content %}


<div class="container">
{% if articles_list %}
    <ul>
    {% for article in articles_list %}
        <li><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}

    <div class="col-sm-4">
        <a href="{% url 'articles:index'%}" class="btn btn-success" role="button">
        Return</a>
    </div>

</div>
{% endblock content %}