{% extends "articles/base.html" %}
{% block content %}
{% load static %}

<div class="container mt-3">
  <div class="media border p-3">
    <img src= "{{ user.profile.image.url }}" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:70px;">
    <div class="media-body">
      <h4>{{user.username}} {{user.first_name}} {{user.last_name}}<small><i>{{timezone.now}}</i></small></h4>
        <p>{{user.email}}</p>
        <p>{{user.profile.bio}}</p>
        <a href="{% url 'users:update'%}" class="btn btn-light" role="button">
        Edit Profile</a>
    </div>
  </div>
</div>

<br>
<div class="container">
    <h4>
        My post history
    </h4>
    {% if articles_list %}
        {% for article in articles_list %}
            <div class="row">
                <div class="col-sm-8">
                <a href="{% url 'articles:detail' article.id %}">
                    {{forloop.counter}}. {{ article.title }} </a>
                </div>
                <div class="col-sm-4">
                    {{ article.pub_date }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No articles are available.</p>
    {% endif %}
    <br>

    <h4>
        My comment history
    </h4>
    {% if comments_list %}
    {% for comment in comments_list %}
        <div class="row">
            <div class="col-sm-8">
            <a href="{% url 'articles:detail' comment.article.id %}">
                {{forloop.counter}}. {{ comment.article.title }} </a>
            </div>
            <div class="col-sm-4">
                {{ comment.pub_date }} </a>
            </div>
        </div>
    {% endfor %}

    {% else %}
        <p>No comments are available.</p>
    {% endif %}


</div>
{% endblock content %}